@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
h1{
    font-size: 2.5rem;
}
span{
    font-size: 0.9rem;
    color:blue;
}
h6{
    font-size: 1.1rem;
    color: blueviolet;
}
nav{
  
    
    position: fixed;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1vw 5vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0,0.15) ;
 
}
nav img{
    width: 110px;
    cursor: pointer;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    font-size:16px;
    font-weight:500;
    transition: 0.3sec ease;
}
nav .navigation ul li a:hover{
    color: cadetblue;
}
.clgimg{
    height: 250px;
    width: 700px;
    margin-left: 18rem;
    
    border: 2px solid black;
}
#home{
    text-align: center;
   
}
.info{
    text-align:center;
    text-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
      
}
.info2{
   text-align: center;
   text-wrap: wrap;
   margin-left: 5rem;
   margin-right: 5rem;
   
}
.pdesk{
   
    text-wrap: wrap;
   
    
}
footer{
    padding:3vw ;
    background-color:#7b838a;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap ;
}
footer li{
    font-size: 15px;
    cursor: pointer;
    transition: 0.3 ease;
}

footer li:hover{
    
    color: rgb(241, 240, 245);
}
.pdesk{
    text-wrap: wrap;
    
}
footer .copyright{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: -1rem;


}
.library{
    height: 150px;
    width: 200px;
    
}
.lib{
    text-wrap: wrap;
    text-align: center;
}
